:root {
  /* Yellow */
  --yellow-primary: #ebe851;
  --yellow-strong: #ebcc3fef;
  --yellow-dark: #d6a228;

  /* Green */
  --green-primary: #2dd280;
  --green-strong: #1f9359;
  --green-dark: #0d3f26;

  /* Blue */
  --blue-primary: #58b3f3;
  --blue-strong: #1083d5;
  --blue-dark: #052c48;

  /* Red */
  --red-primary: #eb5656;
  --red-strong: #a43d3d;
  --red-dark: #471a1a;

  /* Text */
  --title-color: #eff3f5;
  --text-color: #c8cdd0;
  --light-text-color: #a0a7ac;

  /* Backgrounds */
  --body-bg: #192229;
  --body-bg-dark: #1d282e;
  --container-bg: #212e36;
  --dark-border: #2a3b47;

  /* Fonts */
  --title-font: "Raleway", sans-serif;
  --text-font: "Open Sans", sans-serif;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  background-color: var(--body-bg);
  color: var(--text-color);
  font-display: initial;
}

h5, h6, p {
  color: var(--text-color);
  font-family: var(--text-font);
}

header {
  font-family: var(--title-font);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--title-font);
}

strong {
  color: var(--yellow-strong);
}

img {
  max-width: 100%;
}

a {
  color: var(--yellow-primary);
  text-decoration: none;
  transition: all 0.5s linear;
}

a:hover {
  color: var(--yellow-strong);
}

.btn {
  border-radius: 8px;
}

.main-container {
  display: grid;
  place-content: center;
  justify-content: center;
  margin: 0px auto;
  padding: 80px 40px;
}

.main-content {
  margin-top: 3vh;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ebe851;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #2c2f33;
}

/* Vars */
.rounded-full {
  border-radius: 9999px!important;
}

.container {
  background-color: var(--container-bg);
  border: 1px solid var(--dark-border);
  border-radius: 5px;
}

.yellow-primary {
  color: var(--yellow-primary);
}

.home-divider {
  height: 1px;
  width: 100%;
  background-color: #ffffff1a;
  margin: 60px 0px;
}