<!DOCTYPE html>
<html lang="es">
<head>
    <title>Equipo | <%= title %> </title>
    <%- include('../partials/header'); -%>

    <link rel="stylesheet" href="/css/equipo.css">
</head>
<body>
    <%- include('../partials/navbar'); -%>

    <main class="main-container text-center">
        <h1><%= title %> <strong>Equipo</strong></h1>
        <div class="main-content">
            <div class="team-page">
                <section class="team-help-container container" id="soporte">
                    <h2>¡Todos estamos dispuestos a ayudarte!</h2>
                    <div class="team-help">
                        <p>Todo <a href="/equipo/miembros">nuestro equipo</a> de soporte está dispuesto a ayudarte con cualquier problema o duda que tengas.</p>
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>
</html>