<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= title %></title>

  <%- include('partials/header'); -%>

  <link rel="stylesheet" href="/css/terminos.css">
</head>
<body>
  <%- include('partials/navbar'); -%>

  <main class="main-container text-center">
    <h1> <strong> Política de Privacidad </strong></h1>
    <div class="terms-header">
        <div class="terms-service">
            <div class="terms-service-text container">
              <h3>1. Introducción</h3>
              <p>
                Para Piña, (en adelante “Piña Bot” o “el Bot de Discord”) la Protección de Datos Personales y la privacidad, es crucial para mantener la confianza y el prestigio que la han caracterizado desde que iniciara operaciones.
              </p>
              </p>
              <h3>2. Tipos de datos recopilados</h3>
              <p>
                Entre los tipos de Datos Personales que Piña recopila, por sí misma o a través de terceros, se encuentran: Datos de uso; nombre de usuario; foto de perfil; ID.
                <br>
                Los detalles completos sobre cada tipo de Datos personales recopilados se proporcionan en las secciones dedicadas de esta política de privacidad o en los textos de explicación específicos que se muestran antes de la recopilación de Datos. Los Datos Personales pueden ser proporcionados libremente por el Usuario o, en el caso de los Datos de Uso, recopilados automáticamente al utilizar a Piña. A menos que se especifique lo contrario, todos los datos solicitados por Piña son obligatorios y la falta de proporcionar estos datos puede hacer que Piña no pueda proporcionar sus servicios.
              </p>
              </p>
              <h3>3. Modo y lugar de tratamiento de los Datos</h3>
              <h4>3.1. Base legal del procesamiento:</h4>
              <p>
                El Titular podrá tratar los Datos Personales relativos a los Usuarios si se da alguno de los siguientes supuestos:
                <br>
                <ul>
                  <li>
                    Los usuarios han dado su consentimiento para uno o varios fines específicos.
                    <br>
                    Nota: En virtud de algunas legislaciones, se puede permitir que el Titular procese Datos personales hasta que el Usuario se oponga a dicho procesamiento ("optar por no participar"), sin tener que depender del consentimiento ni de ninguna otra de las siguientes bases legales.
                  </li>
                  <li>
                    El suministro de Datos es necesario para la ejecución de un acuerdo con el Usuario y/o para cualquier obligación precontractual del mismo.
                  </li>
                  <li>
                    El procesamiento está relacionado con una tarea que se lleva a cabo en interés público o en el ejercicio de la autoridad oficial conferida al Titular.
                  </li>
                  <li>
                    El procesamiento es necesario para los fines de los intereses legítimos perseguidos por el Titular o por un tercero.
                  </li>
                </ul>
                <br>
                En cualquier caso, el Titular estará encantado de ayudar a aclarar la base legal específica que se aplica al procesamiento y, en particular, si el suministro de Datos Personales es un requisito legal o contractual, o un requisito necesario para celebrar un contrato.
              </p>
              </p>
              <h4>3.2. Lugar:</h4>
              <p>
                Los Datos se procesan en las oficinas operativas del Titular y en cualquier otro lugar donde se encuentren las partes involucradas en el procesamiento.
                <br>
                Dependiendo de la ubicación del Usuario, las transferencias de datos pueden implicar la
                transferencia de los Datos del Usuario a un país diferente al suyo. Para obtener más
                información sobre el lugar de procesamiento de dichos Datos transferidos, los Usuarios
                pueden consultar la sección que contiene detalles sobre el procesamiento de Datos
                personales.
                <br>
                Los usuarios también tienen derecho a conocer la base legal de las transferencias de datos a un país fuera de la Unión Europea o a cualquier organización internacional regida
                por el derecho internacional público o establecida por dos o más países, como la ONU, y
                sobre las medidas de seguridad tomadas. por el Titular para salvaguardar sus Datos.
                <br>
                Si se lleva a cabo dicha transferencia, los Usuarios pueden obtener más información
                consultando las secciones correspondientes de este documento o consultar con el
                Propietario utilizando la información proporcionada en la sección de contacto.
              </p>
              </p>
              <h4>3.3. Tiempo de retención:</h4>
              <p>
                Los Datos Personales se procesarán y almacenarán durante
                el tiempo que lo requiera el propósito para el que fueron recopilados. Por lo tanto:
                <br>
                <ul>
                    <li>
                        Los Datos Personales recopilados para los intereses legítimos del Titular se conservarán durante el tiempo que sea necesario para cumplir con dichos fines. Los usuarios pueden encontrar información específica sobre los intereses legítimos perseguidos por el Titular en las secciones correspondientes de este documento o poniéndose en contacto con el Titular. El Propietario puede conservar los Datos personales durante un período más largo siempre que el Usuario haya dado su consentimiento para dicho procesamiento, siempre que dicho consentimiento no sea retirado. Además, el Titular puede verse obligado a conservar los Datos Personales por un período mayor cuando así lo requiera para el cumplimiento de una obligación legal o por orden de una autoridad.
                    </li>
                    <li>
                        Los Datos Personales recopilados para fines relacionados con la ejecución de un contrato entre el Titular y el Usuario se conservarán hasta que dicho contrato se haya ejecutado en su totalidad.
                    </li>
                </ul>
                <br>
                Una vez que expire el período de retención, los Datos personales se eliminarán. Por tanto, el derecho de acceso, el derecho de supresión, el derecho de rectificación y el derecho a la portabilidad de los datos no podrán ser ejercitados una vez transcurrido el plazo de conservación.
                </p>
                </p>
                <h4>4. Derechos de los usuarios</h4>
                <p>
                    Los usuarios pueden ejercer determinados derechos respecto de sus Datos tratados por
                    el Titular. En particular, los Usuarios tienen derecho a lo siguiente:
                    <br>
                    <ul>
                        <li>
                            <h5>Retirar su consentimiento en cualquier momento.</h5> Los usuarios tienen derecho a
                            oponerse al procesamiento de sus Datos si el procesamiento se lleva a cabo sobre una
                            base legal distinta del consentimiento.
                        </li>
                        <li>
                            <h5>Acceder a sus Datos.</h5> Los usuarios tienen derecho a saber si el Titular está procesando
                            los Datos, obtener información sobre ciertos aspectos del procesamiento y obtener una
                            copia de los Datos que se están procesando.
                        </li>
                        <li>
                            <h5>Verificar y solicitar la rectificación.</h5> Los usuarios tienen derecho a verificar la exactitud de sus Datos y solicitar que se actualicen o corrijan.
                        </li>
                        <li>
                            <h5>Restringir el tratamiento de sus Datos.</h5> Los usuarios tienen derecho, en determinadas circunstancias, a restringir el tratamiento de sus Datos. En este caso, el Titular no tratará sus Datos con otra finalidad que la de almacenarlos.
                        </li>
                        <li>
                            <h5>Hacer que se eliminen o eliminen sus Datos personales.</h5> Los usuarios tienen
                            derecho, en determinadas circunstancias, a obtener del Titular la supresión de sus Datos.
                        </li>
                        <li>
                            <h5>Recibir sus Datos y transferirlos a otro controlador.</h5> Los usuarios tienen derecho a recibir sus Datos en un formato estructurado, de uso común y lectura mecánica y, si es técnicamente posible, a que se transmitan a otro responsable del tratamiento sin ningún impedimento. Esta disposición es aplicable siempre que los Datos sean tratados por medios automatizados y que el tratamiento se base en el consentimiento del Usuario, en un contrato del que el Usuario sea parte o en obligaciones precontractuales del mismo.
                        </li>
                    </ul>
                    <br>
                    Cuando los Datos Personales se procesen por un interés público, en el ejercicio de una autoridad oficial conferida al Titular o para los fines de los intereses legítimos perseguidos por el Titular, los Usuarios pueden oponerse a dicho procesamiento proporcionando un motivo relacionado con su situación particular para justificar la objeción.
                    <br>
                    Los usuarios deben saber que, sin embargo, en caso de que sus Datos personales se procesen con fines de marketing directo, pueden oponerse a ese procesamiento en cualquier momento sin proporcionar ninguna justificación. Para saber si el Propietario está procesando Datos personales con fines de marketing directo, los Usuarios pueden consultar las secciones correspondientes de este documento.
                </p>
                </p>
                <h3>5. Avisos y comentarios</h3>
              <p>
                <h4>5.1</h4> Cualquier solicitud para ejercer los derechos del Usuario puede dirigirse al Titular a través de los datos de contacto proporcionados en este documento. Estas solicitudes podrán ser ejercitadas de forma gratuita y serán atendidas por el Titular con la mayor antelación posible y siempre en el plazo de un mes.
                <br>
                <br>
                <h4>5.2</h4> El Propietario se reserva el derecho de realizar cambios en esta política de privacidad en cualquier momento notificando a sus Usuarios en esta página y posiblemente dentro de este Sitio web y/o, en la medida en que sea técnica y legalmente factible, enviando un aviso a los Usuarios a través de cualquier información de contacto disponible para el propietario. Se recomienda encarecidamente consultar esta página con frecuencia, consultando la fecha de la última modificación que figura en la parte inferior.
              </p>
              </p>
              <h3>6. Dudas y comentarios</h3>
              <p>
                Si tienes alguna duda relacionada con esta Política o algún comentario o sugerencia no dude en ponerse en contacto con nosotros:
                <br>
                <br>
                ・<a href="https://discord.gg/mCrz7GUFen">https://discord.gg/mCrz7GUFen</a>
              </p>
            </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('partials/footer'); -%>
</body>
</html>