<!DOCTYPE html>
<html lang="es">
<head>
    <title>Soporte | <%= title %></title>
    <%- include('partials/header'); -%>
    
</head>
<body>
    <%- include("partials/navbar"); -%>

    <main class="main-container text-center" id="main">
        <h1><%= title %> <strong>Soporte</strong></h1>
        <div class="main-content">
            <p>Únete al servidor de soporte de Piña Bot, en donde podrás recibir ayuda de nuestro <a href="/equipo/#soporte">equipo de soporte</a>.</p>

            <p>En él también podrás participar de encuestas, dar sugerencias, hablar con la comunidad, conseguir roles exclusivos, participar en sorteos y ¡mucho mucho más!</p>

            <div class="support-guild" style="margin-top: 50px;">
                <h4>¿Quieres unirte?</h4>
                <a class="btn btn-warning" href="https://discord.gg/REcFSm6">Haz clic aquí</a>
            </div>
        </div>
    </main>

    <script src="/js/navigation.js"></script>
</body>
</html>