<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= title %></title>

  <%- include('partials/header'); -%>

  <link rel="stylesheet" href="/css/terminos.css">
</head>
<body>
  <%- include('partials/navbar'); -%>

  <main class="main-container text-center">
    <h1> <strong> Términos de Servicio </strong></h1>
    <div class="terms-header">
        <div class="terms-service">
            <div class="terms-service-text container">
              <h3>1. Introducción</h3>
              <p>
                Estos Términos de servicio ("ToS") representan nuestras reglas, políticas y
                pautas para usar nuestro Servicio ("Piña", "Comunidad").<br>
                Asegúrese de leer completamente y comprender estos Términos antes de a nuestra Bot
                ("Piña"), Servidor de Discord ("comunidad", "servidor") u otros Servicios ("Servicios")
                operados por Nosotros. Al usar nuestro Servicio, usted comprende y acepta que renuncia
                a su capacidad de disputar estos Términos, excepto si se comunica con nosotros.<br>
                Nos reservamos el derecho de actualizar estos Términos en cualquier momento, con o sin
                previo aviso, por cualquier motivo, incluidos, entre otros, los cambios en la ley y las
                funciones que se agregan al sitio web. Las disputas sobre cambios deben manejarse a
                través de un informe de abuso y disputa, como se lee a continuación.
              </p>
              </p>
              <h3>2. Accesibilidad</h3>
              <p>
                Usted, el usuario, puede acceder a nuestro servicio público si cumple con nuestra política de conducta. Nos reservamos el derecho de deshabilitar, cambiar o reconstruir el Servicio de manera temporal o permanente en cualquier momento con o sin previo aviso. El acceso a estos Servicios es un privilegio y se puede revocar en cualquier momento por cualquier motivo establecido en nuestra política de conducta.
              </p>
              </p>
              <h3>3. Conducta y expectativas</h3>
              <p>
                Al aceptar estos Términos, usted acepta no utilizar este Servicio por ningún motivo que no se establezca expresamente en estos Términos. Nuestro Servicio está destinado a ser utilizado para utilidades en servidores y/o comunidades de Discord. <br>
                Estos Servicios mantienen una política de conducta básica de la siguiente manera. Usted, el usuario, acepta: <br>
                <ul>
                  <li>
                    No enviar información falsa a nuestro servicio
                  </li>
                  <li>
                    No mostrar un comportamiento tóxico para el personal u otros usuarios.
                  </li>
                  <li>
                    No intentar, o tener éxito en, tomar información privada de otros usuarios.
                  </li>
                  <li>
                    No participar en ninguna actividad ilegal en Discord o nuestros servicios.
                  </li>
                </ul>
                <br>
                Respetamos ese comportamiento fuera de nuestro Servicio, a menos que sea potencialmente peligroso para nuestro Servicio, no afectará el acceso o las capacidades en el Servicio. <br>
                El incumplimiento de estos Términos podría dar lugar a su prohibición, temporal o permanente, en cualquier momento de este.
              </p>
              </p>
              <h3>4. Derechos de autor</h3>
              <p>
                Toda la información, los activos, los datos y la propiedad intelectual enviados en nuestro Servicio pertenecen a sus propietarios originales, y no aceptamos responsabilidad ni propiedad por ningún contenido distribuido en nuestro Servicio. Nuestro Servicio poseen únicamente los activos de nuestra marca y los activos relacionados con nuestra operación.
                <br>
                Como Servicio, recopilamos, encriptamos y almacenamos todos los datos enviados. No vendemos, procesamos ni usamos datos para ningún otro propósito que no sea hacer que nuestro Servicio funcione según lo previsto.
              </p>
              </p>
              <h3>5. Dudas y comentarios</h3>
              <p>
                Si tienes alguna duda relacionada con estos Términos de servicio o algún comentario o sugerencia no dude en ponerse en contacto con nosotros:
                <br>
                <br>
                ・<a href="https://discord.gg/mCrz7GUFen">https://discord.gg/mCrz7GUFen</a>
              </p>
            </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('partials/footer'); -%>
</body>
</html>