.user-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding: 0px 40px;
}

.bot-description {
    margin-bottom: 40px;
    width: min(100%, 600px);
    font-size: 16px;
}

.welcome-button {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-inline-end: 40px;
    padding-inline-start: 40px;
    min-height: 56px;
    font-size: 16px;
    line-height: 24px;
}

.welcome-button-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* User loged page */
.user-welcome-image {
    margin: 10px;
    border: 1px solid var(--dark-border);
    border-radius: 60px;
}

/* Bot features */
.bot-features {
    padding: 80px 32px;
}

@media screen and (min-width: 1024px) {
    .bot-features {
        max-width: 960px;
    }
}

.bot-feature {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.bot-feature-description {
    line-height: 1.25;
}

.bot-feature-text {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.bot-feature-image {
    margin-left: 30px;
}
.feature-image {
    border-radius: 15px;
    border: 2px solid var(--dark-border);
}


.reverse {
    text-align: right;
    align-items: flex-end;
}