<!DOCTYPE html>
<html lang="es">
<head>
    <title>Error 404 | <%= title %></title>
    
    <%- include('header'); -%>
</head>
<body>
    <main class="main-container text-center" id="main">
        <h1><%= title %></h1>
        <div>
            <h4>Error 404: No encontrado</h4>
            <p>¡Vaya! Al parecer estás en un sitio desconocido...</p>

            <a class="btn btn-warning w-50" href="/">
                <i class="fas fa-home">Ir al inicio</i>
            </a>
        </div>
    </main>
</body>
</html>