<footer class="footer">
    <ul class="list-links">
        <li class="list-inline-item">
            <a href="/tos">Términos del servicio</a>
        </li>
        <li class="list-inline-item">
            <a href="/privacy">Política de privacidad</a>
        </li>
    </ul>
    <p class="copyright">Piña Bot © 2022</p>
</footer>