<header class="navbar container">
    <ul class="nav-items">
      <li class="nav-item">
        <a class="item-link" href="/">
          <i class="fas fa-home"></i> Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="item-link" href="#">
          <i class="fas fa-book-open"></i> Comandos
        </a>
      </li>
      <li class="nav-item">
        <a class="item-link" href="#">
          <i class="fas fa-store"></i> Economía
        </a>
      </li>
      <li class="nav-item">
        <a class="item-link" href="/soporte">
          <i class="fas fa-question-circle"></i> Soporte
        </a>
      </li>
      <li class="nav-item premium">
          <a class="item-link" style="color: #ffc34f;" href="/premium">
            <i class="fas fa-crown"></i> Premium
          </a>
      </li>
    </ul>
    <% if (user) { %>
      <div class="user-icon-container">
        <div class="user-icon" id="user-icon">
          <img class="user-avatar" src="<%= user.displayAvatarURL({ dynamic: true }) %>" alt="Avatar de <%= user.username%>">
          <span class="user-username"><%= user.username %></span>
          <i class="fas fa-angle-down" id="arrow-menu"></i>
          <ul class="user-icon-menu animate__animated" id="menu">
            <li class="user-icon-menu-item">
              <a href="/dashboard">Panel de control</a>
            </li>
            <li class="user-icon-menu-item logout">
              <a href="/logout">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    <% } else { %>
      <a class="item-link" id="login-icon" href="/login">
        <i class="fas fa-sign-in-alt"></i>
      </a>
    <% } %>
</header>